.contain {
    height: 80px;
    width: 100%;
    background-color: var(--backNavbar);
    position: fixed;
    color: var(--letter);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    align-content: space-around;
}
.contain img {
    width: 60px;

}
.searchFalse {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    border: solid .5px gray;
}

.searchFalse:hover {
    border: solid 2px lightblue;
    color: blanchedalmond;
}

.search {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    justify-content: flex-end;
}
.search button {
    padding: 0 2px;
}
.search input[type='text'] {
    margin: 0 30px;
    border-radius: 5px;
    width: 50%;
    height: 30px;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.containFilter {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 50px;
}

.buttonNav {
    padding: 8px;
    color: azure;
    border-radius: 5px;
}

.buttonNav:hover {
    box-shadow: 0 0 5px gray;
}
.buttonNavSalir {
    padding: 8px;
    color: azure;
    border-radius: 5px;
}

.buttonNavSalir:hover {
    box-shadow: 0 0 5px gray;
}

.containFilter svg {
    margin-left: 20px;
}

.filtro {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.filtro p {
    color: white
}

.buttonAbout {
    padding: 8px;
    color: azure;
    border-radius: 5px;
}

.buttonAbout:hover {
    box-shadow: 0 0 5px gray;
}


@media (max-width: 660px) {
    .filtro{
        width: 140px;
        height: 500px;
        position: absolute;
        flex-direction: column-reverse;
        left: 10px;
        top: 80px;
        background-color: rgba(0, 0, 0, 0.425);
        border-radius: 10px;
        z-index: 5;
    }
    .buttonAbout {
        position: absolute;
        right: 70px;
        top: 85px;
        background-color: rgba(0, 0, 0, 0.479);
    }
    .buttonNav {
        position: absolute;
        right: 5px;
        top: 85px;
        background-color: rgba(0, 0, 0, 0.479);
    }
}

@media (max-width: 450px) {
    .contain img {
        width: 40px;
    }
    
}